<!DOCTYPE html>
<html>

<head>
    <title>Jeopardy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body onload="clickerInit()">

        <button style="height:99.5vh; width:99.9vw; background-color:blue; margin:0%;" onclick="answer()"></button>
    <div class="modal" id="enterCode">
        <div class="modal-content" style="height:100%; width:100%; margin:0%;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <h3>Hey there, gotta code? Please enter it here!</h3>
                    <form class="form-group">
                        <input class="form-control" type="text" id="joinCode" placeholder="Code Here" />
                    </form>
                </div>
                <div class="row justify-content-center">
                    <p id="connectionStatus" class="not">Not connected</p>

                </div>

                <div class="row justify-content-center p-3">
                    <button class="btn btn-lg" onclick="join()">Join Game</button>
                </div>

            </div>

        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/json_parser.js"></script>
    <script src="node_modules/socket.io-client/dist/socket.io.js"></script>


    <script> 
        var socket = io('http://localhost:3000');
        var socketid = '';
        socket.on('socky',function(data){
            socketid = data.socketid;
        });
        socket.on('message',function(data){
            console.log(data);
        })
    </script>
</body>

</html>